@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
/*	width: 100%;*/
	margin: 0 auto;
	padding: 0 50px;
}
.container-fluid{
	width: 100%;
	padding: 0 20px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}
/*-------Padding-----*/
.p-1{
	padding: 4px;
}
.p-3{
	padding: 12px;
}
.pt-1{
	padding-top:4px;
}

.pb-1{
	padding-bottom: 4px;
}
.pl-1{
	padding-left: 4px;
}
.pr-1{
	padding-right: 4px;
}
.px-1{
	padding: 0 4px;
}
.px-3{
	padding: 0 12px;
}
.px-4{
	padding: 0 16px;
}
.py-1{
	padding: 4px 0;
}

.pt-10{
	padding-top: 40px;
}
.py-8{
	padding: 32px 0;
}
.py-10{
	padding: 40px 0;
}
/*-------Margin-------*/
.m-1{
	margin: 4px;
}
.m-8{
	margin: 32px;
}
.mt-1{
	margin-top: 4px;
}
.mt-3{
	margin-top: 12px;
}
.mt-6{
	margin-top: 24px;
}
.mt-8{
	margin-top: 32px;
}
.mb-1{
	margin-bottom: 4px;
}
.mb-6{
	margin-bottom: 24px;
}
.mb-8{
	margin-bottom: 32px;
}
.mb-10{
	margin-bottom: 40px;
}
.mb-13{
	margin-bottom: 52px;
}
.ml-1{
	margin-left: 4px;
}
.ml-8{
	margin-left: 32px;
}
.ml-10{
	margin-left: 40px;
}
.mr-1{
	margin-right: 4px;
}
.mr-8{
	margin-right: 32px;
}
.mr-10{
	margin-right: 40px;
}
.ml-auto{
	margin-left: auto;
}
.mr-auto{
	margin-right: auto;
}
.mx-auto{
	margin: 0 auto;
}
.mx-8{
	margin: 0 32px;
}
.mx-10{
	margin: 0 40px;
}
.my-8{
	margin: 32px 0;
}
/*Text Align*/
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}